:root {
  --color-outerline: #c93230;
  --color-innerline: #ca5c64;
  --color-thirdline: #545454;
  --color-background: #322d2e;
  --color-title: #f3c435;
  --color-title-shadow: #c93230;
  --color-smooth-button: #9bbcd8;
  --color-smooth-button-hover: #67859f;
  --color-smooth-button-desabled: #b0b0b0;
  --color-hard-button: #f3c435;
  --color-hard-button-hover: rgb(165, 130, 33);
  --color-font: #ffffff;
  --color-low-font: #545454;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P";
  font-weight: 200;
}

body {
  height: 100vh;
  background-color: var(--color-outerline);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.red-line {
  background-color: var(--color-outerline);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.red-line-inner {
  background-color: var(--color-innerline);
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gray-line {
  background-color: var(--color-thirdline);
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.gray-background {
  background-color: var(--color-background);
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}

/* Banner */
.header-banner {
  flex: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0;
}

/* Sección de entrada */
.input-section {
  flex: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

/* Títulos */
.main-title {
  font-size: 48px;
  text-align: center;
  color: var(--color-title);
  text-shadow: var(--color-title-shadow) 4px 4px 0;
}

.section-title {
  font-size: 36px;
  color: var(--color-font);
  margin: 10px 0;
  text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
}

.input-name {
  background-color: var(--color-low-font);
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  color: var(--color-font);
}

.button-container {
  width: 200px;
  justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
}

/* Estilos de botón */
button {
  padding: 15px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.button-add {
  background-color: var(--color-smooth-button);
  color: var(--color-font);
}

.button-add:hover {
  background-color: var(--color-smooth-button-hover);
}

.button-add:disabled {
  background-color: var(--color-smooth-button-desabled);
  cursor:default;
}

/* Botón de sortear título */
.button-draw {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--color-font);
  background-color: var(--color-hard-button);
}

.button-draw:hover {
  background-color: var(--color-hard-button-hover);
}

/* Estilos de resultados */
.output-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.amigo-secreto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

p {
  color: var(--color-low-font);
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

/* Listas */
ul {
  list-style-type: none;
  color: var(--color-font);
  font-size: 12px;
  margin: 20px 0;
}

li {
  padding: 5px;
}

.result-list {
  margin-top: 25px;
  margin-bottom: 25px;
  color: var(--color-font);
  font-size: 30px;
}

/* Botón de reiniciar */
.button-restart {
  background-color: var(--color-smooth-button);
  color: var(--color-font);
  border: none;
  cursor: pointer;
  display: none; /* Oculto por defecto */
  margin-top: 20px;
}
.button-restart:hover {
  background-color: var(--color-smooth-button-hover);
}

/* Footer */
.footer {
  flex: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  text-align: center;
  color: var(--color-innerline);
  font-size: 12px;
  margin: 10px 0;
}

.footer-link {
  color: var(--color-innerline);
  text-decoration: none;
  font-weight: bold;
}


/* Estilos para dispositivos móviles */
@media (max-width: 900px) {
  .main-title {
    font-size: 36px;
  }

  .section-title {
    font-size: 24px;
  }

  .input-name {
    font-size: 12px;
  }

  button {
    font-size: 10px;
    padding: 10px 10px;
  }

  p {
    font-size: 10px;
  }

  li {
    font-size: 10px;
  }

  .result-list {
    font-size: 20px;
  }
}

/* Estilos para dispositivos pequeños */
@media (max-width: 600px) {
  .result-list {
    font-size: 14px;
  }
}